@page "/CourseAdd2"
@attribute [Authorize(Policy = ApplicationPolicy.RequireAnyRole)]
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@inject HttpClient HttpClient

<div class="col text-center">
    <h2>Add course</h2>
</div>
<form method="post" data-enhance @onsubmit="OnSubmit" @formname="add-module-form">
    <AntiforgeryToken />

    <div class="form-floating mb-3">
        <label for="floatingInput">Title</label>
        <InputText class="form-control" @bind-Value="@FormModel.Title" placeholder="Enter title" />
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <InputTextArea rows="3" class="form-control" @bind-Value="@FormModel.Description" placeholder="Enter description"></InputTextArea>
    </div>

    <div class="mb-3">
        <label class="form-label">Start date</label>
        <InputDate class="form-control" @bind-Value="@FormModel.Start" placeholder="Enter start date" />
    </div>

    <div class="mb-3">
        <label class="form-label">End date</label>
        <InputDate class="form-control" @bind-Value="@FormModel.End" placeholder="Enter end date"></InputDate>
    </div>
    <div class="mb-3">
        <label class="form-label">Max participants</label>
        <InputNumber class="form-control" @bind-Value="@FormModel.MaxCapcity" placeholder="Enter max participants"></InputNumber>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Add Course</button>
    </div>
</form>

@if (!string.IsNullOrEmpty(StatusMessage))
{
    <div class="alert @StatusMessageClass">
        @StatusMessage
    </div>
}

@code {
    private string StatusMessage { get; set; }
    private string StatusMessageClass { get; set; }
    private Course FormModel { get; set; }

    protected override void OnInitialized()
    {
        FormModel ??= new Course();
    }

    private async Task OnSubmit()
    {
        var postBody = new
        {
            Title = FormModel.Title,
            Description = FormModel.Description,
            Start = FormModel.Start,
            End = FormModel.End,
            MaxCapcity = FormModel.MaxCapcity,
        };

        var response = await HttpClient.PostAsJsonAsync("/api/courses", postBody);
        if (response.IsSuccessStatusCode)
        {
            StatusMessage = "Course successfully created!";
            StatusMessageClass = "alert-success";
            FormModel = new Course(); // Reset form
        }
        else
        {
            StatusMessage = "Error creating course. Please try again.";
            StatusMessageClass = "alert-danger";
        }
    }
}