@using GarageMVC.ViewModels
@model OverviewPageViewModel
@{
    ViewData["Title"] = "Index";
}


<div "container h-100 d-flex justify-content-center">
    <div class="jumbotron">
        <h1>Welcome</h1>
        <p>To the GarageMVC parking</p>
        <p>
            <a asp-controller="Garage" asp-action="Create">Park a vehicle</a>
        </p>
    </div>
    @if(!String.IsNullOrEmpty(Model.SituationSpecificMessage))
    {
        <p>
            @Model.SituationSpecificMessage
        </p>
    }
  
   <p>
        There are @Model.PlacesRemaining spots remaining.
    </p>
    <div class="table-responsive">
    <form asp-controller="Garage" asp-action="SearchByRegistrationNumber">
        <label>Registration number</label>
        <input name="registrationNumber" />
        <button type="button" class="btn btn-primary">Search</button>
    </form>
    </div>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleOverviews.First().Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleOverviews.First().RegistrationNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleOverviews.First().TimeStamp)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.VehicleOverviews)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeStamp)
                    </td>
                    <td>
                    <td>
                        <a asp-controller= "Garage" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }

             
        </tbody>
    </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</div>