@page "/Module/"
@inherits BaseIndexComponent<Module, int>
@using RoboUnicornsLMS.Components.Shared
@using RoboUnicornsLMS.Services
@inject NavigationManager NavigationManager

<h3>Modules</h3>

@if (!string.IsNullOrWhiteSpace(ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ErrorMessage
    </div>
}

<NavLink class="btn btn-primary mb-3" href="Module/Add">Create Module</NavLink>

@if (Entities != null && Entities.Any())
{
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Module in Entities.Take(10))
            {
                <tr>
                    <td>@Module.Id</td>
                    <td>@Module.Title</td>
                    <td>@Module.Description</td>
                    <td>@Module.Start</td>
                    <td>@Module.End</td>
                    <td>
                        <NavLink href="@($"Module/Details/{Module.Id}")">Details</NavLink>
                        <NavLink href="@($"Module/Edit/{Module.Id}")">Edit</NavLink>
                        <NavLink href="@($"Module/Delete/{Module.Id}")">Delete</NavLink>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}
